[Desktop Entry]
Name=Onyx
Comment=A modern YouTube downloader and player
Exec=yt-frontend
Icon=com.onyx.yt-frontend
Terminal=false
Type=Application
Categories=AudioVideo;Video;Network;
StartupNotify=true
Keywords=YouTube;Downloader;Video;Audio;Player;
